{% extends 'base.html' %}
{% load static %}

{% block body %}

<form action="{% url 'root' %}" method="post">
  {% csrf_token %}

  <div class="grid">
    <div class="grid__item w-1/2">
      <div class="form-group">
        <label for="item1" class="field-label">Compare:</label>
        <select name="item1" class="field">
          {% for item in items %}
            <option value="{{ item.id }}" {% if item == item1 %}selected="selected" {% endif %}>{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>

    <div class="grid__item w-1/2">
      <div class="form-group">
        <label for="item2" class="field-label">with</label>
        <select name="item2" class="field">
          {% for item in items %}
            <option value="{{ item.id }}" {% if item == item2 %}selected="selected" {% endif %}>{{ item.name }}</option>
          {% endfor %}
        </select>
      </div>

      <p class="text-large text-bold">{{ value }}</p>
    </div>
  </div>

  <div class="mrgv text-center">
    <input type="submit" value="Compare" class="btn btn--primary btn--large">
  </div>
</form>

{% endblock %}
