{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>

    {# In development, stylesheets are injected by webpack-dev-server #}
    {% if not webpack_dev_server %}
    <link rel="stylesheet" type="text/css" href="{% static 'dist/common.css' %}">
    {% endif %}
  </head>
  <body>
    <div class="container">
      <div class="nav mrgv-">
        <ul class="list-inline list-inline--divided">
          <li><a href="{% url 'root' %}">Home</a></li>
          <li><a href="{% url 'explore' %}">Explore</a></li>
        </ul>
      </div>

      <h1>What is Watt?</h1>
      {% block body %}{% endblock %}
    </div>

    <script type="text/javascript" src="{% static 'dist/common.js' %}"></script>
  </body>
</html>
